*{
  box-sizing: border-box;
}

body{
  color : rgb(31,31,31)
}

.navBar{
  background-color: #425cbb;
  height : 40px;
  display : flex; 
  align-items : center; 
  padding:5px;

}

.navbar__link{
  text-decoration : none;
  color : white;
  margin : 5px;
 
}

.navbar__link.active{
  font-weight: 700;
}

.red{
  font-size: 40px;
  color:red;
}

tr:hover{
  cursor: pointer;
}

.container{
  padding: 0 10px;
  display:flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items:center; 
}

.left-celebrities{
  display:flex;
  flex-flow:column wrap;
  justify-content:center;
  align-content:center;
  width:25vw;
  overflow:hidden;
  height : 60vh;
}

.right-celebrities{
  display:flex;
  flex-flow: column wrap; 
  justify-content:flex-start;
  align-items:center; 
  align-content: center;
  text-align:center;
  margin-left:20px;
  width:55vh;

}

.celebsList{
  display:flex;
  flex-flow: row nowrap;
}

.active_name{
  font-weight : 800;
}

.celebsContainer{
  display:flex;
  flex-flow: row wrap;
  width : 80vw;
}

.definite{
  width : 500px;
}

